/* FOOTER*/

.footer{
    height: 350px;
    background: url(../main/assets/svg/footer-background.svg);
}
.footer-content{
    max-width: 1200px;
    height: 310px;
    display: flex;
    justify-content: space-between;
}
.contacts-footer{
    width: 278px;
    height: 234px;
}
.questionsH3{
    width: 278px;
    height: 90px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #FFFFFF;
}
.email-container{
    width: 251px;
    height: 32px;
}
.email-icon{
    width: 40px;
    height: 32px;
    background-image: url(../main/assets/svg/icon-email.svg);
}
.email{
    width: 191px;
    height: 23px;
}
.location-footer{
    max-width: 302px;
    height: 234px;
}
.locationH3{
    width: 270px;
    height: 90px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #FFFFFF;
}
.containerFirstAdress{
    width: 302px;
    height: 46px;
}
.icon-marker{
    width: 22px;
    height: 32px;
    background-image: url(../main/assets/svg/icon-marker.png);
}
.text-first-adress{
    width: 290px;
    height: 46px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #F1CDB3;
}
.animal-picture{
    width: 300px;
    height: 310px;
    background-image:url(../main/assets/img/footer-puppy.svg);
}